h1 {
    color: brown;
}
/*styling the whole body, we use the star icon*/
.header{
    background-color:aqua;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-wrap: flex-end;
}